* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 100%;
    background-image: url('https://www.freevector.com/uploads/vector/preview/13611/FreeVector-Vector-Sky-Background.jpg');
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
    color: #000000;
    font-weight: 700;
    margin: 20px 0;
}


.home {
    backdrop-filter: blur(2px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.sobre {
    backdrop-filter: blur(2px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin: 20px;
}
.home h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0px 0 30px;
    display: flex;
    justify-content:flex-start;
}
.home p {
    font-weight: 200;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 25px;
}

header img {
    width: 100px;
    height: 50px;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    display: flex;
}

.logo {
    background-size: cover;
    font-size: 32px;
    color: #000000;
    text-transform: none;
    font-weight: 700;
}

nav a{
    position: relative;
    margin-left: 18px;
    color: #000000;
    font-size: 18px;   
    font-weight: 500; 
}

nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    background: #000000;
    transition: 0.3s;
}

nav a:hover::before {
    width: 100%;
}

section {
    position: relative;
    width: 100%;
    display: flex;
    padding: 100px 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
}

a {
    text-decoration: none;
}

.logar {
    width: 800px;
    height: auto;
    min-height: 650px;
    background: transparent;
    padding: 50px 40px;
    border-radius: 10px;
    border: 2px solid #ffffff49;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logar form {
    width: 100%;
    position: relative;
    height: 100px;
    margin: 40px 0;
    font-size: 26px;
    text-align: center;
    align-items: center;
    justify-content: center;
} 

.logar form input {
    width: 100%;
    height: 100%;
    padding: 25px 45px 20px 20px;
    border: none;
    outline: none;
    background: #d7d2d2b5;
    color: #000000;
    font-size: 26px;
    border-radius: 30px;
    margin: 15px 0;
}

.deslogar {
    width: 620px;
    height: auto;
    background: transparent;
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid #ffffff49;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deslogar p {
    color: #000000;
    font-size: 28px;
    font-weight: 500;
    margin: 30px 0;
}

.deslogar a {
    color: #000000;
    background-color: #7a72d285;
    border-radius: 20px;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 35px;
    font-weight: 500;
    margin: 20px 0;
}

.loja {
    width: 90%;
    height: auto;
    background: transparent;
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid #ffffff49;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loja .sucesso {
    font-size: 25px;
    margin: 20px 0;
    color: #4a8611;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.281);
}

.detalhes img {
    width: 500px;
    height: 250px;
    border-radius: 10px;
    margin: 10px 0 20px 0;
}

.produtos {
    width: auto;
    height: auto;
    background: transparent;
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid #00000049;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.detalhes {
    width: auto;
    height: auto;
    background: transparent;
    margin: 20px 0px 0px 0px;
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid #ffffff80;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 20px;
}
.carrinhoLoja {
    width: auto;
    height: auto;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align:center;
    display: flex;
}

.maisMenos {
    background-color: #7a72d246;
    border-radius: 20px;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    margin: 20px 20px;
    cursor: pointer;
}

.adicionar {
    font-size: 20px;
    margin: 0px;
    cursor: pointer;
}

.info {
    cursor:pointer;
}

.aviao {
    display: none;
    opacity: 0;
    width: auto;
    height: 400px;
    margin-top: 200px;
    position: absolute;
    float: left;
    animation: aviao 4s linear infinite;
}

footer {
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 30px;    

}

footer p {
    cursor: pointer;
    margin: 0 20px;
}

.direita {
    position: fixed;
    right: 0;
    justify-content: flex-end;
    text-align: right;
}


.carrinho {
    width: 800px;
    height: auto;
    background: transparent;
    padding: 50px 40px;
    border-radius: 10px;
    border: 2px solid #ffffff49;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carrinho img {
    width: 200px;
    height: 200px;
}

.vazio {
    font-size: 25px;
    margin: 20px 0;
    padding: 20px 0;
}

.vazio h2 {
    margin: 20px 0;
}

.produtoCarrinho {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #00000049;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

.dadosCarrinho div{
    margin: 20px 0;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dadosCarrinho p{
    margin: 10px 0;
}

.finalizar button {
    width: 100%;
    height: 100%;
    padding: 25px 45px 20px 20px;
    border: none;
    outline: none;
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
    font-size: 26px;
    border-radius: 30px;
    margin: 15px 0;
    cursor: pointer;
}

.finalizar h3 {
    font-size: 20px;
}

.formCarrinho {
    width: auto;
    height: auto;
    justify-content: center;
    text-align: center;
    display: block;
    align-items: center;
}

.formCarrinho form {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.formCarrinho input {
    width: auto;
    height: auto;
    padding: 25px 45px 20px 20px;
    border: none;
    outline: none;
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.444);
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
    margin: 15px;
}

.limparCarrinho {
    width: 100%;
    height: 100%;
    padding: 25px 45px 20px 20px;
    border: none;
    outline: none;
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
    font-size: 26px;
    border-radius: 30px;
    margin: 15px 0;
    cursor: pointer;
}

input:hover, button:hover, .maisMenos:hover, .hover:hover{
    background-color: #299fe4a8;
    box-shadow: 0 0 10px rgba(234, 232, 232, 0.576);
}


@keyframes aviao {
    0% {
        margin-left: -20%;
        opacity: 0.3;

    }
    99% {
        opacity: 0.3;
    }
    100% {
        margin-left: 100%;
        opacity: 0;
    }
}


